<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar.ejs') %> 

    <div>
        <h1 style="margin-left: 3%;">Welcome To Store Membership App</h1>
    </div>

    <div>
        <p style="width: 38%; margin-left: 3%; ">Store Membership App is a web based app that you can use to join membership to every store listed in this web app. You can get many benefits by joining a memberships such as discount product up to 50%, got the latest product info from a store that you joined as a membership, and many more!</p>
    </div>    
</body>
</html>