<div style="background-color: steelblue; font-size: 20px; width: 100%;">
    <nav>
        <h1 style="color: mintcream; margin-right: 100px; margin-left: 30px; position: relative; display: inline-block;">Store Membership</h1>
        <a href="/" style="text-decoration: none; margin-left: 40%; color: mintcream;">Home</a>
        <a href="/stores" style="text-decoration: none; color: mintcream; margin-left: 20px;">Store</a>
        <a href="/users" style="text-decoration: none; color: mintcream; margin-left: 20px;">User</a>
        <a href="/login" style="text-decoration: none; color: mintcream; margin-left: 20px;">Login</a>
        <a href="/register" style="text-decoration: none; color: mintcream; margin-left: 20px;">Register</a>
        <a href="/logout" style="text-decoration: none; color: mintcream; margin-left: 20px;">Logout</a>

    </nav>
</div>