<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Event Succes</title>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>

    <div style="text-align: center; margin-top: 5%;">
        <h1>SUCCES POST EVENT !!</h1>

    </div>

    <div style="text-align: center;">
        <a href="/home">
            <button style="font-size: 25px;">Back</button>
        </a>
    </div>
</body>
</html>